/*_____________General style*/
body {
    background-color: beige;
    color: #776e65;
    font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

/*__________Heading*/
.heading {
   color: burlywood; 
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 80px;
    margin-bottom: 5%;
    padding-bottom: 0;
}

/*__________Score*/
.scores-container {
    margin-top: 2%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 39.5%;
}

.score-container {
    width: 100px;
    height: 50px;
    border: 1px solid;
    background-color: burlywood;
    border-radius: 5px;
    margin-left: 5%;
    float: left;
    margin-top: 0;
}

.text-container {
    text-align: center;
    margin-top: 17px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    color: white;
}

.above-game {
    margin-top: 5%;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-left: 0;
}

.game-intro {
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

/*__________Buttons new game and new tile*/
.buttons {
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 0;
    margin-left: 0;
}

.new-btn {
    background: dimgray;
    border-radius: 3px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin-left: 35%;   
}

.new-tile {
    background: dimgray;
    border-radius: 3px;
    text-decoration: none;
    color: #f9f6f2;
    height: 40px;
    width: 150px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    margin-left: 12%;  
}

/*__________Main container*/
.grid-container {
    margin-top: 10px;
    margin: 0 auto;
    height: 505px;
    width: 505px;
    border-radius: 3%;
    background-color: #8f7a66;
}

.grid-row {
    margin-left: 3%;
}

.grid-cell {
    float: left;
    width: 110px;
    height: 110px;
    border-radius: 7%;
    margin-right: 11px;
    margin-top: 2.5%;
    background-color: burlywood;
}

/*__________Explanation*/
.explain {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    padding-bottom: 5%;
}

/*__________Tile style*/
.tile0 {
    background-color: gainsboro;
    text-align: center;
    font-size: 3em;
    width: 110px;
    height: 110px;
    line-height: 110px;
}

.tile2 {
    background-color: bisque;
}

.tile4 {
    background-color: sandybrown;
}

.tile8 {
    background-color: darksalmon;
}

.tile16 {
    background-color:khaki;
}

.tile32 {
    background: #f67c5f;
}

.tile64 {
    background: #f65e3b;
}

.tile128 {  
    background: #edcf72;
    
}

.tile256 {   
    background: #edcc61;
}  

.tile512 {    
    background: #edc850; 
}

.tile1024 {
    
    background: #edc53f;   
}

.tile-2048 {
    background: #edc22e;  
}

.tileText {
    text-align: center;
    font-size: 3em;
    width: 110px;
    height: 110px;
    line-height: 110px;

    animation: fadein 0.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}